.app {
  height: 100vh;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .app {
    flex-direction: column;
  }
  
}
