.login {
  /* margin: 2.5rem; */
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  height: 100vh;
}

section{
  display: flex;
  flex-direction: column;
  height: 70dvh;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  
  text-align: center;
}

.register {
  /* margin: 2.5rem; */
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  height: 100vh;
}


.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 1.2rem;
}
